<div class="container">
  <h1> Create a new service </h1>
  <%= simple_form_for @service do |f| %>
    <%= f.input :skill_name , placeholder: "What is your skill", class: 'form' %>
    <%= f.input :price_per_hour,placeholder: "How much per hour?", class: 'form' %>
    <%= f.input :availability, placeholder: "yes or no", class: 'form' %>
    <%= f.input :photo, as: :file, class: 'form' %>
    <%= f.submit "Create", class: "btn btn-dark", class: 'form' %>
  <% end %>
</div>
