<%= render "shared/banner_service", service: @service %>
<div class="container">
  <div class="d-grid gap-4 mt-4">
    <%= render "shared/card_teacher",  teacher: @teacher %>
    <p><%=@service.user.bio %> </p>
    <%= simple_form_for [@service, @booking] do |f| %>
      <% if @previous_booking.empty? %>
       <%= f.button :submit, "Book Skill", class: "btn btn-dark" %>
      <% else %>
        <%= f.button :submit, "Booked!", class: "btn btn-dark", disabled: true %>
      <% end %>
    <% end %>
  </div>
</div>
